@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --anta:  "Anta", sans-serif;
    --kedo-font: "Kode Mono", monospace;
    --diaplay : none;
    --opacity: 0.6;
    --background: rgb(23, 23, 31);
}

.movie {
    max-width: 320px;
    width: 310px;
    background-color: rgb(39, 39, 43);
    border-radius: 10px;
    cursor: pointer;
    height: 450px;
    overflow: hidden;
    transition: all 100ms linear;
    position: relative;
    border-radius: 15px;
}

.movie:hover {
    --background: transparent;
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    /* max-width: 320px; */
    min-height: 100%;
    height: 450px;
    overflow: auto;
}

.movie img:hover {
    opacity: .25;
}

.movie .info {
    position: absolute;
    bottom: 0%;
    left: 0;
    padding: .5rem 1rem;
    right: 0;
    color: rgb(255, 211, 100);
    background-color: var(--background);
    width: 100%;
    font-family: var(--kedo-font);
}

.info h2 {
    font-size: 1.4rem;
    margin-top: .5rem;
}

.movie .info .type {
    font-family: var(--anta);
    color: white;
}

@media screen and (max-width: 1050px) {
    .movie {
        width: 40%;
        max-width: 100%;
    }
}
@media screen and (max-width: 680px) {
    .movie {
        width: 80%;
        height: 480px;
    }
}
@media screen and (max-width: 460px) {
    .movie {
        width: 97%;
        height: 440px;
    }
}
@media screen and (max-width: 340px) {
    .movie {
        width: 100%;
        height: 350px;
    }
}


